body {
    background-color: black; 
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 6vh;
}

p {
    font-family: 'Onest', sans-serif;
    font-weight: 200;
}

.pageheader {
    font-family: 'Racing Sans One', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding-left: 3vw; 
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 4vw;
    font-size: 3vh;
    padding-top: 2vh;
    color: white;
}

.heroimage {
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: relative;
}

.herotext{
    position: absolute;
    top: 70%;
    font-family: 'Onest', sans-serif;
    font-weight: 300;
    font-size: 8vh;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 50%;
}

