body {
    background-color: black; 
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 6vh;
}

p {
    font-family: 'Onest', sans-serif;
    font-weight: 200;
}

.pageheader {
    font-family: 'Racing Sans One', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding-left: 3vw; 
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
}

.navbar {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 4vw;
    font-size: 1.3vw;
    color: white;
}

.fullwidthsection {
    padding-left: 3vw; 
    padding-right: 3vw; 
    padding-bottom: 3vh; 
    padding-top: 3vh;
}

.fullwidthimage {
    position: relative;
}

.imageoverlaytext{
    position: absolute;
    font-family: 'Onest', sans-serif;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
}

a {
    color: white;
}

a:hover{
    color: #999999;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
      #pc {
        display: none;
      }
    
      #mobile {
        display: block;
      }
    
      body {
        overflow-y: scroll;
      }
}